h1{
    color: rgb(221, 41, 41);
    font-size: 2em;
    display: flex;
    position:relative;
    left: 50%;
}
img {
    border:solid 1rem;
    transform:rotateY(360deg);
}
img:hover {
    transform:rotateY(180deg);

}
figure{
    margin: auto;
}
a:hover{
    color: goldenrod;
}
a{
    text-decoration: none;
}